body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgba(0,0,0,.7);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.Book-container{
    display:flex;
    
}

.book-card{
    background-color: rgba(0,0,0,.4);
    margin:1em;
    padding:0.7em;
    border-radius: 0.5em;
    color:rgba(255,255,255,.7);
    font-family:'Courier New', Courier, monospace;
}

h1{
    color:rgba(255,255,255,.7);
}

.book-card:hover{
    background-color: rgba(255,255,255,.2);
}